/* src/components/ThemeToggle.css */
.theme-switch {
    width: 60px;
    height: 30px;
    border-radius: 15px;
    background-color: #848480; /* Bootstrap secondary color */
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .theme-switch.light {
    background-color: #fcdc9c; /* Yellowish light */
  }
  
  .theme-switch.dark {
    background-color: #343a40; /* Dark gray */
  }
  
  .toggle-thumb {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    color: #000;
  }
  
  .theme-switch.dark .toggle-thumb {
    transform: translateX(30px);
    background-color: #fff;
    color: #343a40;
  }
  